/* ==================================================
   ACCENTS
================================================== */

/* ==================================================
   THEME DEFAULT
================================================== */

html[data-theme][data-accent="theme-default"] {
  --accent: var(--theme-accent);
  --accent-secondary: var(--theme-accent-secondary);
  --accent-contrast: var(--theme-accent-contrast);
}

/* ==================================================
   MONOCHROME
================================================== */

html[data-theme][data-accent="white"] {
  --accent: #ffffff;
  --accent-secondary: #e4e4e7;
  --accent-contrast: #18181b;
}

html[data-theme][data-accent="black"] {
  --accent: #18181b;
  --accent-secondary: #3f3f46;
  --accent-contrast: #ffffff;
}

/* ==================================================
   BLUES
================================================== */

html[data-theme][data-accent="sky"] {
  --accent: #38bdf8;
  --accent-secondary: #0ea5e9;
  --accent-contrast: #0c2230;
}

html[data-theme][data-accent="azure"] {
  --accent: #0ea5e9;
  --accent-secondary: #0284c7;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="blue"] {
  --accent: #3b82f6;
  --accent-secondary: #2563eb;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="navy"] {
  --accent: #1d4ed8;
  --accent-secondary: #1e3a8a;
  --accent-contrast: #ffffff;
}

/* ==================================================
   PURPLES
================================================== */

html[data-theme][data-accent="lilac"] {
  --accent: #c084fc;
  --accent-secondary: #a855f7;
  --accent-contrast: #2e123f;
}

html[data-theme][data-accent="violet"] {
  --accent: #8b5cf6;
  --accent-secondary: #7c3aed;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="purple"] {
  --accent: #7c3aed;
  --accent-secondary: #6d28d9;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="indigo"] {
  --accent: #4f46e5;
  --accent-secondary: #4338ca;
  --accent-contrast: #ffffff;
}

/* ==================================================
   CYANS
================================================== */

html[data-theme][data-accent="ice"] {
  --accent: #67e8f9;
  --accent-secondary: #22d3ee;
  --accent-contrast: #083344;
}

html[data-theme][data-accent="cyan"] {
  --accent: #22d3ee;
  --accent-secondary: #06b6d4;
  --accent-contrast: #083344;
}

html[data-theme][data-accent="aqua"] {
  --accent: #06b6d4;
  --accent-secondary: #0891b2;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="teal"] {
  --accent: #0d9488;
  --accent-secondary: #0f766e;
  --accent-contrast: #ffffff;
}

/* ==================================================
   GREENS
================================================== */

html[data-theme][data-accent="mint"] {
  --accent: #6ee7b7;
  --accent-secondary: #34d399;
  --accent-contrast: #064e3b;
}

html[data-theme][data-accent="emerald"] {
  --accent: #10b981;
  --accent-secondary: #059669;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="green"] {
  --accent: #22c55e;
  --accent-secondary: #16a34a;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="lime"] {
  --accent: #84cc16;
  --accent-secondary: #65a30d;
  --accent-contrast: #1a2e05;
}

/* ==================================================
   YELLOWS
================================================== */

html[data-theme][data-accent="lemon"] {
  --accent: #facc15;
  --accent-secondary: #eab308;
  --accent-contrast: #422006;
}

html[data-theme][data-accent="gold"] {
  --accent: #eab308;
  --accent-secondary: #ca8a04;
  --accent-contrast: #3f2603;
}

html[data-theme][data-accent="amber"] {
  --accent: #f59e0b;
  --accent-secondary: #d97706;
  --accent-contrast: #3b2303;
}

html[data-theme][data-accent="honey"] {
  --accent: #d97706;
  --accent-secondary: #b45309;
  --accent-contrast: #ffffff;
}

/* ==================================================
   ORANGES
================================================== */

html[data-theme][data-accent="peach"] {
  --accent: #fdba74;
  --accent-secondary: #fb923c;
  --accent-contrast: #431407;
}

html[data-theme][data-accent="orange"] {
  --accent: #f97316;
  --accent-secondary: #ea580c;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="coral"] {
  --accent: #fb7185;
  --accent-secondary: #f43f5e;
  --accent-contrast: #4c0519;
}

html[data-theme][data-accent="rust"] {
  --accent: #c2410c;
  --accent-secondary: #9a3412;
  --accent-contrast: #ffffff;
}

/* ==================================================
   REDS
================================================== */

html[data-theme][data-accent="scarlet"] {
  --accent: #f43f5e;
  --accent-secondary: #e11d48;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="red"] {
  --accent: #ef4444;
  --accent-secondary: #dc2626;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="crimson"] {
  --accent: #dc2626;
  --accent-secondary: #b91c1c;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="maroon"] {
  --accent: #991b1b;
  --accent-secondary: #7f1d1d;
  --accent-contrast: #ffffff;
}

/* ==================================================
   PINKS
================================================== */

html[data-theme][data-accent="blush"] {
  --accent: #f9a8d4;
  --accent-secondary: #f472b6;
  --accent-contrast: #500724;
}

html[data-theme][data-accent="pink"] {
  --accent: #ec4899;
  --accent-secondary: #db2777;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="fuchsia"] {
  --accent: #d946ef;
  --accent-secondary: #c026d3;
  --accent-contrast: #ffffff;
}

html[data-theme][data-accent="magenta"] {
  --accent: #c026d3;
  --accent-secondary: #a21caf;
  --accent-contrast: #ffffff;
}
